/**CONTENU DE LA PAGE*/

#main-container{

}

/**
MENU CSS*/
.navbar .navbar-default .navbar-static-top
{
    display: block;
}
.main-navigation .nav-list{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    list-style:none;
    background-color:black;
}
.main-navigation .nav-list li a {
    text-decoration: none;
    color:#fff;
}

/**BARRE DE RECHERCHE CSS*/
.search-sec .search-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
.search-sec .search-container #button-search{
    text-align: center;
} 
.search-sec .search-container button{
    background-color: red;
    border: 2px solid red;
    border-radius: 25px;
}

/**CSS PROJET PAGE PRINCIPALE*/
#project-container{
    width:75%;
    margin: auto;
}
/** Footer*/
.footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
    background-color: black;
}